.sort-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid var(--color-secondary);
}


.sort-container select {
    border-radius: 20px;
    height: 30px;
    border-color: var(--color-text-light);
    border-style: solid;
    border-width: 0.5px;
    text-align: center; 
    text-align-last: center;
    color: var(--color-text-light);
}